@use "./colors";

.animated-canvas {
  background-color: colors.$background;
  transition: background-color 0.2s;
  // border: 1px solid colors.$highlight-contrast;
  // background: linear-gradient(
  //   60deg,
  //   colors.$background,
  //   colors.$highlight-contrast
  // );

  position: fixed;
  top: 0;
  // background-color: #000;
  width: 100vw;
  height: 100vh;
  // height: 200px;
  opacity: 0.5;
  z-index: -1;
}
.animated-canvas-controls {
  margin-top: 2.5em;
}
