:root {
  --none: hsla(0, 0%, 0%, 0);

  // --background: hsl(220, 15%, 20%);
  // --background-contrast: hsla(333, 21%, 92%, 1);
  // --background-dark: hsl(220, 15%, 10%);

  // --text: hsl(333, 21%, 92%);
  // --text-contrast: hsl(220, 15%, 20%);

  // --highlight: hsl(187, 61%, 74%);
  // --highlight-contrast: hsl(8, 67%, 52%);

  /*  
    // Scheme 2
    #2A2B2A - dark
    #F8F4E3 - light
    #E5446D - highlight
    #FF8966 - highlight - alt
    #706C61 - border / text
    */

  //basic
  .light_ {
    --background: hsla(333, 21%, 92%, 1);
    --background-contrast: hsl(220, 15%, 20%);
    --background-dark: hsl(333, 21%, 85%);

    --text: hsl(220, 15%, 20%);
    --text-contrast: hsl(333, 21%, 92%);

    --highlight: hsl(8, 67%, 52%);
    --highlight-contrast: hsl(187, 61%, 74%);
  }

  .light2 {
    --background: hsla(333, 21%, 92%, 1);
    --background-contrast: hsla(333, 21%, 90%, 1);
    --background-dark: hsl(333, 21%, 85%);

    --text: hsl(220, 15%, 40%);
    --text-contrast: hsl(220, 15%, 30%);

    --highlight: hsl(8, 67%, 52%);
    --highlight-contrast: hsl(187, 61%, 65%);
  }

  // basic
  .dark-basic {
    --background: #222;
    --background-contrast: hsl(0, 0%, 15%);
    --background-dark: hsl(333, 21%, 85%);

    --text: #eee;
    --text-contrast: #eee;

    --highlight: #94dce5;
    --highlight-contrast: #d74833;
  }

  .light-basic {
    --background: #eee;
    --background-contrast: #312f2f;

    --text: #22181c;
    --text-contrast: #ef626c;

    --highlight: hsl(187, 61%, 64%);
    --highlight-contrast: hsl(8, 67%, 62%);
  }

  //second
  .light-secondary {
    --background: #f2f5ea;
    --background-contrast: #2c363f;

    --text: #2c363f;
    --text-contrast: #2c363f;

    --highlight: #f18f01;
    --highlight-contrast: #e75a7c;
  }

  .dark-secondary {
    --background: #2c363f;
    --background-contrast: #f2f5ea;

    --text: #f2f5ea;
    --text-contrast: #2c363f;

    --highlight: #f18f01;
    --highlight-contrast: #e75a7c;
  }

  .dark {
    --background: #2a2b2a;
    --border: #706c61;
    --text: #f8f4e3;
    --text-contrast: #f8f4e3;
    --highlight: hsl(345, 76%, 58%);
    --highlight-contrast: hsl(14, 100%, 70%);
  }

  .light {
    --background: #f8f4e3;
    --border: hsl(44, 7%, 71%);
    --text: #706c61;
    --text-contrast: #f8f4e3;
    --highlight: #e5446d;
    --highlight-contrast: #ff8966;
  }
}

$none: var(--none);

$background: var(--background);
$border: var(--border);
$background-dark: var(--background-dark);

$text: var(--text);
$text-contrast: var(--text-contrast);

$highlight: var(--highlight);
$highlight-contrast: var(--highlight-contrast);
