@use "./colors";
@use "./button-styles";

nav.app-nav {
  position: fixed;
  top: 0;
  width: 100vw;

  z-index: 5;
  // padding: 0.8em 0;
  color: colors.$text;
  border-bottom: 1px solid transparent;

  transition: background-color 0.2s, border-color 0.2s;

  &.visible {
    background-color: colors.$background;
    border-color: colors.$border;
  }

  button,
  a {
    @include button-styles.regular;
  }
}

nav.app-nav.mobile {
  .app-nav-config {
    height: 48px;

    right: 0.2em;
    display: flex;

    transition: height 0.2s;
  }

  &.visible .app-nav-config {
    height: 64px;
  }

  .nav-content {
    background-color: colors.$background;
    flex-direction: column;

    a {
      text-align: center;
    }
  }

  .toggle-button {
    margin-right: auto;
  }
}

.nav-content {
  position: relative;
  max-width: 900px;
  margin: auto;
  display: flex;

  &.centered {
    justify-content: center;
  }
}
