@use "./colors";
@use "./media";
@use "./button-styles";

.nav {
  position: fixed;
  top: 0;
  width: 100vw;

  z-index: 5;
  color: colors.$text;
  border-bottom: 1px solid transparent;

  transition: background-color 0.2s, border-color 0.2s;

  &--solid {
    background-color: colors.$background;
    border-color: colors.$border;
  }

  &__menu {
    display: flex;
    height: 48px;

    @include media.min-mid {
      display: none;
    }

    &__button {
      @include button-styles.regular;

      &--margin-right {
        margin-right: auto;
      }
    }

    &__dropdown {
      width: 100%;
      display: flex;
      flex-direction: column;

      &__button {
        @include button-styles.regular;
        text-align: center;

        &--margin-right {
          margin-right: auto;
        }
      }

      &--centered {
        justify-content: center;
      }

      &--mobile {
        display: none;

        @include media.min-mid {
          display: flex;
        }
      }
    }

    &--centered {
      justify-content: center;
    }

    &--mobile {
      display: none;

      @include media.min-mid {
        display: flex;
      }
    }
  }
}
