@use "./colors";
@use "./media";

.skill-progress {
  padding: 2em 0;

  &__label {
    &::before {
      content: ">";
      font-weight: bold;
      color: colors.$highlight;
      color: colors.$highlight-contrast;
      margin-right: 0.5em;
    }
  }

  &__grid {
    display: flex;

    &__item {
      border: 1px solid colors.$highlight-contrast;
      height: 4px;
      flex: 1;

      &--active {
        border: 1px solid colors.$highlight;
        background-color: colors.$highlight;
      }

      & + & {
        margin-left: 0.5em;
      }
    }
  }
}

.skill-progress-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 2em;
  grid-row-gap: 2em;

  @include media.mid {
    grid-column-gap: 5em;
    grid-template-columns: 1fr 1fr;
  }

  @include media.max {
    grid-column-gap: 5em;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
