:root {
  --none: hsla(0, 0%, 0%, 0);
  /*  
    // Scheme 2
    #2A2B2A - dark
    #F8F4E3 - light
    #E5446D - highlight
    #FF8966 - highlight - alt
    #706C61 - border / text
    */
}
:root .light_ {
  --background: hsla(333, 21%, 92%, 1);
  --background-contrast: hsl(220, 15%, 20%);
  --background-dark: hsl(333, 21%, 85%);
  --text: hsl(220, 15%, 20%);
  --text-contrast: hsl(333, 21%, 92%);
  --highlight: hsl(8, 67%, 52%);
  --highlight-contrast: hsl(187, 61%, 74%);
}
:root .light2 {
  --background: hsla(333, 21%, 92%, 1);
  --background-contrast: hsla(333, 21%, 90%, 1);
  --background-dark: hsl(333, 21%, 85%);
  --text: hsl(220, 15%, 40%);
  --text-contrast: hsl(220, 15%, 30%);
  --highlight: hsl(8, 67%, 52%);
  --highlight-contrast: hsl(187, 61%, 65%);
}
:root .dark-basic {
  --background: #222;
  --background-contrast: hsl(0, 0%, 15%);
  --background-dark: hsl(333, 21%, 85%);
  --text: #eee;
  --text-contrast: #eee;
  --highlight: #94dce5;
  --highlight-contrast: #d74833;
}
:root .light-basic {
  --background: #eee;
  --background-contrast: #312f2f;
  --text: #22181c;
  --text-contrast: #ef626c;
  --highlight: hsl(187, 61%, 64%);
  --highlight-contrast: hsl(8, 67%, 62%);
}
:root .light-secondary {
  --background: #f2f5ea;
  --background-contrast: #2c363f;
  --text: #2c363f;
  --text-contrast: #2c363f;
  --highlight: #f18f01;
  --highlight-contrast: #e75a7c;
}
:root .dark-secondary {
  --background: #2c363f;
  --background-contrast: #f2f5ea;
  --text: #f2f5ea;
  --text-contrast: #2c363f;
  --highlight: #f18f01;
  --highlight-contrast: #e75a7c;
}
:root .dark {
  --background: #2a2b2a;
  --border: #706c61;
  --text: #f8f4e3;
  --text-contrast: #f8f4e3;
  --highlight: hsl(345, 76%, 58%);
  --highlight-contrast: hsl(14, 100%, 70%);
}
:root .light {
  --background: #f8f4e3;
  --border: hsl(44, 7%, 71%);
  --text: #706c61;
  --text-contrast: #f8f4e3;
  --highlight: #e5446d;
  --highlight-contrast: #ff8966;
}

.min,
.min-mid,
.mid,
.mid-max,
.max {
  display: none;
}

@media (max-width: 667px) {
  .min {
    display: initial;
  }
}
@media (max-width: 993px) {
  .min-mid {
    display: initial;
  }
}
@media (min-width: 667px) and (max-width: 993px) {
  .mid {
    display: initial;
  }
}
@media (min-width: 667px) {
  .mid-max {
    display: initial;
  }
}
@media (min-width: 993px) {
  .max {
    display: initial;
  }
}
.dbg-border {
  border: 1px dotted var(--highlight-contrast);
}

.fade-in {
  animation: fade-in 0.5s forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translatey(-0.5em);
  }
  100% {
    opacity: 1;
    transform: translatey(0);
  }
}
.floating-button {
  position: fixed;
  bottom: 32px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: var(--background);
  border: 1px solid var(--text);
  color: var(--text);
  transition: color 0.2s, border-color 0.2s;
  cursor: pointer;
}
.floating-button:hover {
  color: var(--highlight-contrast);
  border-color: var(--highlight-contrast);
}
.floating-button--right {
  right: 16px;
}
.floating-button--left {
  left: 16px;
}

.page__label {
  font-size: 2em;
  color: var(--highlight-contrast);
}
.page__text {
  width: 70%;
  width: 60%;
  font-size: 1.1em;
  line-height: 1.5em;
}
.page__watermark {
  position: absolute;
  color: var(--highlight);
  font-weight: bold;
  opacity: 0.1;
  top: 0;
  left: -64px;
  font-size: 10em;
  padding: 0;
  margin: 0;
}

.nav {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 5;
  color: var(--text);
  border-bottom: 1px solid transparent;
  transition: background-color 0.2s, border-color 0.2s;
}
.nav--solid {
  background-color: var(--background);
  border-color: var(--border);
}
.nav__menu {
  display: flex;
  height: 48px;
}
@media (max-width: 993px) {
  .nav__menu {
    display: none;
  }
}
.nav__menu__button {
  color: inherit;
  text-decoration: none;
  padding: 1em;
  display: inline-block;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: color 0.2s, border-color 0.2s;
  border-bottom: 2px solid transparent;
  height: 100%;
}
.nav__menu__button:hover {
  color: var(--highlight-contrast);
}
.nav__menu__button.active {
  color: var(--highlight-contrast);
}
.nav__menu__button--margin-right {
  margin-right: auto;
}
.nav__menu__dropdown {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.nav__menu__dropdown__button {
  color: inherit;
  text-decoration: none;
  padding: 1em;
  display: inline-block;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: color 0.2s, border-color 0.2s;
  border-bottom: 2px solid transparent;
  height: 100%;
  text-align: center;
}
.nav__menu__dropdown__button:hover {
  color: var(--highlight-contrast);
}
.nav__menu__dropdown__button.active {
  color: var(--highlight-contrast);
}
.nav__menu__dropdown__button--margin-right {
  margin-right: auto;
}
.nav__menu__dropdown--centered {
  justify-content: center;
}
.nav__menu__dropdown--mobile {
  display: none;
}
@media (max-width: 993px) {
  .nav__menu__dropdown--mobile {
    display: flex;
  }
}
.nav__menu--centered {
  justify-content: center;
}
.nav__menu--mobile {
  display: none;
}
@media (max-width: 993px) {
  .nav__menu--mobile {
    display: flex;
  }
}

.skill-progress {
  padding: 2em 0;
}
.skill-progress__label::before {
  content: ">";
  font-weight: bold;
  color: var(--highlight);
  color: var(--highlight-contrast);
  margin-right: 0.5em;
}
.skill-progress__grid {
  display: flex;
}
.skill-progress__grid__item {
  border: 1px solid var(--highlight-contrast);
  height: 4px;
  flex: 1;
}
.skill-progress__grid__item--active {
  border: 1px solid var(--highlight);
  background-color: var(--highlight);
}
.skill-progress__grid__item + .skill-progress__grid__item {
  margin-left: 0.5em;
}

.skill-progress-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 2em;
  grid-row-gap: 2em;
}
@media (min-width: 667px) and (max-width: 993px) {
  .skill-progress-grid {
    grid-column-gap: 5em;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 993px) {
  .skill-progress-grid {
    grid-column-gap: 5em;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.app-input {
  display: flex;
  flex-flow: column;
}
.app-input + .app-input {
  margin-top: 2.5em;
}
.app-input__control {
  height: 32px;
  align-items: center;
  display: flex;
}
.app-input__control__range {
  position: relative;
  border-top: 1px solid var(--border);
  width: 100%;
}
.app-input__control__range__handler {
  position: absolute;
  top: 0;
  background-color: var(--highlight);
  width: 12px;
  height: 12px;
  cursor: pointer;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: background-color 0.2s, width 0.1s, height 0.1s;
  user-select: none;
}
.app-input__control__range__handler:hover {
  background-color: var(--highlight-contrast);
  width: 24px;
  height: 24px;
}
.app-input__info {
  display: flex;
}
.app-input__info__label {
  margin: 0;
  padding: 0;
}
.app-input__info__value {
  color: var(--highlight-contrast);
  margin: 0;
  padding: 0;
  margin-left: auto;
}

.animated-canvas {
  background-color: var(--background);
  transition: background-color 0.2s;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0.5;
  z-index: -1;
}

.animated-canvas-controls {
  margin-top: 2.5em;
}

html,
body {
  margin: 0;
  background-color: var(--background);
  background-attachment: fixed;
  background-size: 100vw 100vh;
  color: var(--text);
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  z-index: -1;
  margin-top: 3em;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.app-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

a.external-link {
  color: var(--highlight);
  transition: color 0.2s;
  text-decoration: none;
}
a.external-link:hover {
  color: var(--highlight-contrast);
}

.app-footer {
  color: var(--border);
  font-size: 0.8em;
  margin: 3em 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
  flex-direction: column;
}

.app-content {
  padding: 1em 1.5em;
  max-width: 900px;
  margin: auto;
  top: 0;
}
@media (max-width: 993px) {
  .app-content {
    padding: 1em 2.5em;
  }
}

/*# sourceMappingURL=index.css.map */
